body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
}

.box {
    width: 50px;
    height: 50px;
}

.orange {
    background-color: orange;
}

.light-orange {
    background-color: #ffcc99;
}

.dark-orange {
    background-color: #cc6600;
}
